.audio-plugin-selector-container {
  display: inline-flex;
  max-width: 100%;
  justify-content: left;
  flex-direction: column;
}

.library-list {
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  display: flex;
  padding: 1em 2em;
}

.welcome-text {
  max-width: 800px;
  width: 80%;
  margin: 0 auto 2em;
  letter-spacing: 0;
  font: var(--iq-font-body-text);
}
.audio-plugin-selector-container li {
  display: inline-flex;
  max-width: 100%;
  justify-content: center;
  margin: 0.5em auto;
}

.line-inner-wrap {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  margin: 0 2em;
  padding: 2em 1em;
  max-width: calc(100% - 70px);
  overflow: hidden;
  background: inherit;
  color: inherit;
  border: none;
  text-align: left;
  width: 57em;
}

.image-wrap {
  max-width: 380px;
  display: flex;
  justify-content: left;
  overflow: hidden;
  flex-basis: 75%;
}

.image-inner-wrap {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.line-text-inner-wrap {
  display: inline-flex;
  justify-content: left;
  align-items: normal;
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap; */
  flex-basis: 25%;
  /* flex-grow: 1; */
  flex-direction: column;
  /* align-items: normal; */
  margin-right: 2em;
  min-width: 50%;
  text-align: right;
}
line-inner-wrap * {
  margin: 0 0.5em;
}

.item-title {
  max-width: 100%;
}
.line-inner-wrap img {
  max-height: 9em;
  flex-basis: 25%;
}

.line-text-inner-wrap span {
  width: inherit;
}

.item-title {
  font: var(--iq--font-heading-2);
}

.selected-tool {
  border: 1px solid var(--iq-color-accent);
  box-shadow: 0 0 20px 2px var(--iq-color-accent),
    inset 0 0 12px 0px var(--iq-color-accent);
  border-radius: 10px;
}

.error-wrapper {
  border-radius: 50px 50px 0 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%) scale(1, 0);
  z-index: 100000;
  transition: 0.3s all ease;
  transform-origin: bottom;
}

.error-active {
  transform: translate(-50%, 0) scale(1, 1);
}

.error-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  background: transparent;
  border: none;
  color: inherit;
  text-shadow: 0 0 1px var(--iq-color-accent);
  font-size: 18px;
}

.login-modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  padding: 30px 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background: var(--iq-color-accent-gradient);
  background: radial-gradient(
    ellipse at center,
    rgb(255 135 0 / 87%) 0%,
    rgb(0 0 0) 100%
  );
}

@media only screen and (max-width: 768px) {
  .login-modal-container {
    align-items: baseline;
  }
  .login-modal-container > div > input {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
