.add-a-tool-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto 0.5em;
}

.tool-container h4 {
  margin: 0 auto 0.5em;
  padding: 0;
}

.add-a-tool-container .db-login-container {
  box-shadow: 0 -30px 50px -50px white, 0 30px 50px -50px white;
  padding: 1em;
  margin: 2em;
}

.db-login-container p {
  margin: 0 auto 0em;
  padding: 0;
}

.add-a-tool-container .db-login-container button {
  margin-top: 1em;
}
.db-login-status {
  margin: 1em;
}

.db-login-status {
  margin: 1em;
}

.login-text {
  margin: 2em auto;
  padding: 0 0.5em;
  font-weight: 700;
  font-size: 1.5em;
  box-shadow: inset 1px 1px 3px -2px black, inset -1px -1px 3px -2px white;
  border: 1px inset var(--iq-color-background-warm);
  background: var(--iq-color-background-warm);
  color: var(--iq-color-foreground);
}

.not-logged-in-text {
  background-color: var(--iq-color-foreground);
  color: var(--iq-color-background);
  font-weight: 700;
}

.inner-wrap {
  background: green;
}

.db-login-container,
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: var(--iq-font-subheading);
  width: 100%;
  margin: 0 0 1em;
}

.button-container > * {
  max-width: 25rem;
  width: 100%;
  flex-grow: 1;
}

.add-a-tool-intro {
  max-width: 800px;
}

.button-container button,
.button-container span {
  font-size: 0.9em;
}

.cvs-buttons-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin: 0 auto 1em;
  padding: 0.5em 2em;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: var(--iq-color-background-warm-gradient);
  color: var(--iq-color-foreground);
  box-shadow: inset 1px 1px 1px rgb(255 255 255 / 25%),
    inset 1px -1px 1px rgb(0 0 0 / 15%), 1px 1px 5px -3px black;
  border: none;
  font: var(--iq-font-body-text);
  font-size: 1em;
  font-weight: 700;
}
