.edit-buttons-wrap {
  position: sticky;
  top: 0;
  display: flex;
  border: 0;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 80%;
  z-index: 10;
  /* box-shadow: 3px 3px 7px -4px black, 7px 7px 28px -16px rgb(0, 0, 0); */
}

.inner-wrap {
  position: relative;
  height: 100%;
}

.error-text {
  border-bottom: 14px inset orangered !important;
  border-top: 14px inset orangered !important;
  color: orangered !important;
  font-size: 1.5em;
  margin: 1em auto 0;
}
