.app-container {
  text-align: center;
  background: linear-gradient(177deg, #5e5e5e 0%, #181818 1%);
  color: var(--iq-color-background-warm);
}

/* .content-container {
  display: grid;
    grid-template-areas:
        "filter toolsrows"
        "filter toolsrows"
        "g h i";
} */
/* Scroll bar style from my Codepen: https://codepen.io/DarkMG73/pen/LMXMaE?editors=0100 */
/*
 *  STYLE 3
 */
::-webkit-scrollbar-track {
  background-color: #f6000014;
  background: transparent;
  border-radius: 50px;
  /* box-shadow: -3px -3px 5px -3px inset rgb(59 59 59),
    -2px -3px 5px -3px inset rgb(255 255 255); */
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 33px;
  min-width: 8px;
  border-radius: 50px;
  background-color: transparent;
  /* background: radial-gradient(
    ellipse at center,
    rgb(87 87 87) 0%,
    rgb(9 9 9) 100%
  ); */
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 );
}

/* ::-webkit-scrollbar-thumb {
  background: radial-gradient(
    ellipse at center,
    rgb(255 135 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 );
  border-radius: 50px;
} */

::-webkit-scrollbar-thumb {
  background: radial-gradient(
    ellipse at center,
    rgb(253 253 253) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=1 );
  border-radius: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-container {
  z-index: 1;
}

.admin-notice {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 800px;
  background: var(--iq-color-accent);
  color: var(--iq-color-background-contrast);
  padding: 0.25em;
  text-align: center;
  font: var(--iq--font-heading);
  z-index: 2000;
  border-radius: 50px 50px 0 0;
  max-height: 2em;
}

.admin-notice h3 {
  margin: 0;
}

.error-wrapper {
  border-radius: 50px 50px 0 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%) scale(1, 0);
  z-index: 100000;
  transition: 0.3s all ease;
  transform-origin: bottom;
}

.error-active {
  transform: translate(-50%, 0) scale(1, 1);
}

.error-close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  background: transparent;
  border: none;
  color: inherit;
  text-shadow: 0 0 1px var(--iq-color-accent);
  font-size: 18px;
}
