.plugin-finder-container {
   position: relative;
   /* top: 0; */
   /* left: 0; */
   width: 100%;
   max-height: 100%;
   margin: 3em auto 0;
   /* z-index: 200; */
   /* background: #000000f7; */
   /* overflow: auto; */
   /* padding: 2em; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.button-container,
.url-input-container {
   display: flex;
   width: 100%;
   grid-column: 1 / -1;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.url-input-container > * {
   flex-basis: 100%;
}

.url-input-container input {
   font-weight: 500;
}
.url-input-container button {
   width: 50%;
   max-width: 80%;
   flex-basis: 100%;
   margin: 1em auto;
}

.location-input-container {
   display: flex;
   flex-direction: column;
}
.button-container > * {
   margin: 0 1em;
}

.plugin-finder-container button,
.button-container label {
   position: relative;
   font-weight: 700;
   box-shadow:
      3px 3px 7px -4px #ffffffdb inset,
      -3px -3px 7px -4px black inset;
   padding: 0 1em;
   border-radius: 6.125px;
   transition: 0.1s all ease;
   /* transform: scale(1, 1.125) translateX(-1em); */
   background: var(--iq-color-accent);
   color: var(--iq-color-foreground);
   border: none;
   font-variant: small-caps;
   font-weight: 700;
}

.button-container label,
.button-container button {
   font-variant: all-small-caps;
}

.plugin-finder-container [class*="required-input-error"] {
   border: none !important;
}

.plugin-finder-container button:hover {
   transform: scale(1, 1.125);
}

.plugin-finder-selector-wrap {
   max-width: 800px;
   width: 100%;
}

.plugin-finder-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   max-height: 100%;
   margin: auto;
   z-index: 200;
   background: #000000f7;
   overflow: auto;
   padding-bottom: 7em;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.plugin-finder-modal input[type="submit"] {
   transform: translate(-50%, calc(-100% - 1em)) !important;
   background: var(--iq-color-accent-gradient);
   position: fixed !important;
   top: 100% !important;
   left: 50% !important;
   z-index: 10 !important;
}

.close-all-forms-button {
   width: 75%;
   min-height: 3em;
   margin: 1em;
}

.plugin-finder-container ul {
   position: relative;
   max-width: 80%;
   max-height: 100%;
   list-style: none;
   /* display: flex; */
   /* flex-wrap: wrap; */
   /* column-count: 3; */
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   width: 100%;
   padding: 0;
   min-width: 100%;
}

.plugin-finder-container ul p,
.url-show-paths-button {
   grid-column: 1 / -1;
}

.url-show-paths-button {
   width: 38em;
   margin: auto;
}

.plugin-finder-container ul label[for="select-all"],
.plugin-finder-container ul h3,
.plugin-finder-container .add-to-library-button {
   display: block;
   grid-column: 1 / -1;
}
.plugin-finder-container ul label[for="select-all"],
.plugin-finder-container .add-to-library-button {
   margin: 1em;
}
.plugin-finder-container ul li {
   text-align: left;
   margin-right: 1em;
}
.loader-wrap {
   position: fixed;
   top: 37%;
   right: 0;
   width: 250px;
   height: 55px;
   z-index: 110;
   border-radius: 50px 0 0 50px;
   background: var(--iq-color-foreground);
   color: var(--iq-color-background-warm);
   box-shadow:
      inset 3px 3px 11px -7px,
      7px 7px 10px -7px black;
}

.loader-wrap div {
   max-height: 100%;
   top: 50%;
   min-height: 100%;
   transform: translateY(-50%);
   border-radius: 0;
   position: relative;
   padding: 0;
   margin: 0 auto;
   height: 100%;
   background: transparent;
   box-shadow: none;
   overflow: visible;
}

.loader-wrap div span {
   max-height: 100%;
   height: 20px;
   top: calc(50% - 10px);
   display: flex;
   background: var(--iq-color-background-warm-gradient);
}

.plugin-finder-selector-wrap input[type="checkbox"] {
   pointer-events: none;
   position: absolute;
   visibility: hidden;
   transition: 0.1s all ease;
}

.plugin-finder-selector-wrap label:has(input[type="checkbox"]:checked) {
   font-weight: 700;
   background: var(--iq-color-foreground);
   color: var(--iq-color-accent);
   box-shadow:
      3px 3px 7px -4px var(--iq-color-accent) inset,
      3px 3px 7px -4px black inset;
   padding: 0 1em;
   border-radius: 6.125px;
   transform: scale(1, 1.125) translateX(-1em);
   display: inline-block;
}

.plugin-finder-container .add-to-library-button {
   height: 2em;
   width: 100%;
   overflow: hidden;
   margin: 0 auto;
   padding: 0;
   background: var(--iq-color-accent);
   color: var(--iq-color-foreground);
   transform: scale(1, 0);
   transition: 0.3s all ease;
   margin-bottom: 1em;
   opacity: 0;
   transform-origin: bottom;
}

.plugin-finder-container input[type="radio"]:checked {
   color: rgb(255 135 0);
   background: rgb(255 135 0);
}

.plugin-finder-container input[type="radio"] {
   box-shadow: none;
   appearance: none;
   padding: 0.5em;
   background: #005570;
}

.plugin-finder-container:has(input[type="checkbox"]:checked)
   .add-to-library-button {
   transform: scale(1);
   box-shadow:
      3px 3px 7px -4px #ffffffc9 inset,
      -3px -3px 7px -4px black inset;
   opacity: 1;
}

.button-container label[for="select-none"] {
   width: 0;
   height: 0;
   transition: 0.3s all ease;
   padding: 0;
}

.plugin-finder-container:has(input[type="checkbox"]:checked)
   [for="select-none"] {
   width: max-content;
   height: max-content;
   transition: 0.3s all ease;
   padding: 0 1em;
}

@media screen and (max-width: 1024px) {
   .plugin-finder-container ul {
      grid-template-columns: 33.33% 33.33% 33.33%;
   }
}

@media screen and (max-width: 850px) {
   .plugin-finder-container ul {
      grid-template-columns: 50% 50%;
   }
}

@media screen and (max-width: 400px) {
   .plugin-finder-container ul {
      grid-template-columns: 100%;
   }
}
