.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration-container h3 {
  padding: 0;
  margin-bottom: 0;
}

.form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  font-size: 1em;
  padding: 0 0.5em;
}

.form label {
  margin: 0;
  line-height: 1em;
  padding: 0;
  justify-content: inherit;
}

.form .form-submit-button-wrap {
  display: flex;
  align-items: end;
  flex-grow: 1;
}

.form-submit-button-wrap button {
  margin: 0 auto 10px;
}
.registration-in-link {
  margin-left: 1em;
}

.registration-question {
  margin-top: 1em;
}
.registration-question button {
  margin-left: 1em;
  width: auto;
}

.form-input-container {
  flex-grow: 1;
}

.inner-form-input-container {
  position: relative;
  display: flex;
  max-height: 100%;
  height: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: left;
  padding: 1em;
  flex-basis: fit-content;
  height: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  width: min-content;
  width: min-content;
  min-width: min-content;
}

.horizontal-display .captcha-wrap {
  position: relative;
  display: flex;
  max-height: 100%;
  height: fit-content;
}

.captcha-wrap > div {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.captcha-wrap > label {
  flex-basis: 100%;
  font-variant: small-caps;
  margin: 0 auto 0.5em;
  font-size: 1.6rem;
  letter-spacing: var(--iq-spacing-heading);
}

.captcha-wrap div button,
.captcha-wrap input {
  height: 100% !important;
  min-height: 100% !important;
  margin: auto !important;
  display: flex !important;
  height: auto !important;
  max-height: none !important;
}

.horizontal-display .form-input-error {
  position: absolute;
  bottom: -2.5em;
  padding: 0.5em 2em 1em !important;
  background: var(--iq-color-foreground-gradient);
  color: var(--iq-color-background-warm);
  left: 50%;
  border-radius: 0 0 25px 25px;
}
